@model Flamboyant.Models.ModelCardapio
@{
    ViewBag.Title = "Alteração de produto";
}
<style>
    .tudo {
        display: flex;
        width:100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 5em;
    }

    input[type=text], input[type=password] {
        background: transparent;
        border-width: 0pt;
        border-bottom-width: 2pt;
        border-image-slice: 1;
        border-image-source: var(--linear-red);
        padding: 2px 5px;
        position: absolute;
        outline: none;
    }


    
</style>
<style>
    .tudo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 5em;
    }

    input[type=text], input[type=password] {
        background: transparent;
        border-width: 0pt;
        border-bottom-width: 2pt;
        border-image-slice: 1;
        border-image-source: var(--linear-red);
        padding: 2px 5px;
        position: absolute;
        outline: none;
    }

   
</style>

<h2 style="text-align:center;">Editar Produto</h2>
<br />
<br />
<div class="tudo">
    <div class="forms">

        @using (Html.BeginForm("editarCardapio", "Cardapio", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <br />
            <div class="main-login">
                <div class="right-login">
                    <div class="card-login">
                        @Html.LabelFor(m => m.NomeCardapio)
                        <br />
                        @Html.EditorFor(m => m.NomeCardapio)
                        <br />
                        <br />
                        <br />

                        @Html.LabelFor(m => m.DesCardapio)
                        <br />
                        @Html.EditorFor(m => m.DesCardapio)
                        <br />
                        <br />
                        <br />

                        @Html.LabelFor(m => m.VlCardapio)
                        <br />
                        @Html.EditorFor(m => m.VlCardapio)
                        <br />
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="form-group center">
                <div>
                    <label class="control-label col-md-2" for="file">Foto</label>
                </div>
                <br />
                <div class="col-md-10">
                    <input type="file" name="file" id="file" /> <br />
                </div>
            </div>

            <div class="form-group center">
                <div class="col-md-10">
                    @ViewBag.msg <br />
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Salvar Mudanças" class="btn-green" style="padding: 8px; inline-size: max-content;" />
                    &nbsp;&nbsp;
                    @Html.ActionLink("Voltar", "ListarCardapio", "Cardapio", null, new { @class = "btn-red", @style = "padding: 8px; inline-size: max-content;" })
                </div>
            </div>
        }
    </div>
                </div>
                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }


